<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="./src/Home-icon.png" />Real Escape</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Agencies">Agencies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/Contact">Contact Us</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
