<div class="container" *ngIf="age">
  <h1>3 BED ROOMS BEAUTIFUL BANGLOW FOR SALE IN DHA</h1>
<div  class="row" style="padding-top:40px">
  <div class="col-md-1">
  </div>
<div class="col-md-6">
<img src="{{age.p_image}}" height="400px"  width="450px"/>
</div>
<div class="col-md-4">
  <div class="content1">


<img src="{{age.image}}"  height="200px" width="200px" style="padding-top:30px"/>
<br />
<br />

<strong>Company Name:</strong>  {{age.name}}
<br />
<strong>Agent Name:</strong>  {{age.agent_name}}
<br />
<strong>Licence Number</strong>  000000000000
<br />


ORN
<br />
<br />

<button type="button" class="btn btn-primary btn-block1" >Call Emergency</button>
<ul>
<li><button type="button" class="btn btn-link"><img src="./src/assets/fb.png" /></button></li>
<li><button type="button" class="btn btn-link"><img src="./src/assets/twitter.png" /></button></li>
<li><button type="button" class="btn btn-link"><img src="./src/assets/Linkedin.png" /></button></li>

</ul>

</div>
</div>
<div class="col-md-1">
</div>
<br />
<div class="col-md-1">
</div>
<div class="col-md-7">
  <h1>Description</h1><br />
  <p>
    {{age.a_name}}
  </p>
</div>
<div class="col-md-1">
</div>

</div>

</div>
